@font-face {
    font-family: 'IranSans';
    src: url(./font/IranSans.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'IranSans';
}

:root {
    --bg-color: #1b1f24;
    --second-bg-color: #22282f;
    --text-color: #fff;
    --second-text-color: #b5b5b5;
    --main-color: #00bbf9;
    --transition: all 0.4s ease;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/*
====================
header section
====================
*/

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background:  transparent;
    z-index: 1000;
    padding: 25px 5%;
    transition-duration: .3s;
}

header.sticky {
    background: var(--bg-color);
    padding: 25px 5%;
}

.navbar {
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 2;
}

.nav-center {
    width: 100%;
    max-width: 1440px;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.logo {
    font-size: 25px;
    margin-left: 3rem;
}

.logo span {
    color: var(--main-color);
}

#checkbox {
    display: none;
  }
  
.toggle {
    position: relative;
    width: 35px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
.bars {
    width: 90%;
    height: 3px;
    background-color: var(--main-color);
    border-radius: 4px;
}
  
#bar2 {
    transition-duration: .8s;
}
  
#bar1,#bar3 {
    width: 60%;
}
  
#checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}
  
#checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}

.nav-link {
    display: block;
    color: var(--second-text-color);
    padding: 1rem 2.5rem;
    font-size: 16px;
    cursor: pointer;
    transition: var(--transition);
}

.nav-link:hover {
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

.nav-links {
    height: 0;
    overflow: hidden;
    background: var(--bg-color);
    transition: var(--transition);
    direction: rtl;
}

.show-links {
    height: 263px;
}

.nav-center button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}


@media screen and (max-width: 768px) {
    .nav-center button {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .toggle {
        display: none;
    }
    .nav-links {
        height: auto;
        direction: rtl;
        display: flex;
        background: none;
    }
    .nav-link {
        display: flex;
        color: var(--second-text-color);
        font-size: 20px;
        cursor: pointer;
        transition: var(--transition);
        padding: 1rem 1rem;
    }
    .nav-center {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        margin-top: 15px;
        
    }
    .logo {
        margin-left: -5px;
        font-size: 21px;
    }
    .nav-center button {
        background: transparent;
        color: var(--main-color);
        border: 1px solid var(--main-color);
        padding: 10px 15px;
        border-radius: 8px;
        cursor: pointer;
        transition: var(--transition);
        font-size: 15px;
    }
    .nav-center button:hover {
        background: var(--main-color);
        color: #fff;
        box-shadow: 0 0 30px var(--main-color);
    }
}

/*
====================
home section
====================
*/

section {
    padding: 70px 14% 60px;
}

.home {
    background-image: url(./image/background.png);
    background-position: top center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.home-text {
    margin-top: 200px;
}

.home-text h5 {
    font-size: 18px;
    margin-bottom: 15px;
    word-spacing: 2px;
}

.home-text h1 {
    font-size: 4rem;
    font-weight: bold;
}

.home-text h1 span {
    color: var(--main-color);
}

.home-text p {
    font-size: 20px;
    word-spacing: 2px;
    margin-bottom: 20px;
}

.home-text .icons i {
    margin: 0 10px;
    background: var(--bg-color);
    color: var(--main-color);
    padding: 5px;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 40px;
    cursor: pointer;
    transition: var(--transition);
}

.home-text .icons i:hover {
    box-shadow: 0 0 20px var(--main-color);
}

.home-text button {
    background: var(--main-color);
    color: #000;
    border: 1px solid var(--main-color);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: var(--transition);
    margin: 0 5px;
    font-size: 16px;
}

.home-text button:hover {
    box-shadow: 0 0 20px var(--main-color);
    background: transparent;
    color: var(--main-color);
}

.home-text .btn {
    background: transparent;
    color: var(--main-color);
}


.home-text .btn:hover {
    background: var(--main-color);
    color: #000;
}

@media (max-width: 1190px) {
    .home-text h1 {
        font-size: 3rem;
    }
    .home-text p {
        font-size: 19px;
    }
}

@media (max-width: 768px) {
    .home-text h1 {
        font-size: 2rem;
    }
    .home-text p {
        font-size: 20px;
    }
    .home-text button {
        padding: 10px 15px;
        margin: 0 2px;
    }
}

/*
====================
about section
====================
*/


.about {
    background: var(--second-bg-color);
}

.about-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 1rem;
    direction: rtl;
}

.about-image {
    width: 100%;
    max-width: 500px;
    height: 500px;
}

.about-image img {
    width: 100%;
    border: 8px solid var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
    border-radius: 50%;
    cursor: pointer;
}

.about-text {
    max-width: 500px;
    
}

.about-text h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

.about-text h1 span {
    color: var(--main-color);
}

.about-text h3 {
    margin-bottom: 15px;
}

.about-text h3 span {
    margin-left: 15px;
    font-size: 20px;
    color: var(--second-text-color);
    font-family: sans-serif;
    letter-spacing: 1px;
}

.about-text .btn {
    background: var(--main-color);
    color: #000;
    border: 1px solid var(--main-color);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: var(--transition);
    margin-top: 30px;
    font-size: 16px;
}

.about-text .btn:hover {
    box-shadow: 0 0 20px var(--main-color);
    background: transparent;
    color: var(--main-color);
}

@media (max-width: 768px) {
    .about-content {
        grid-template-columns: 1fr;
    }

    .about-image {
        max-width: 100%;
        height: auto;
    }
}

/*
====================
services section
====================
*/

.service-center {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
}

.service-center span {
    color: var(--main-color);
}

.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2rem;
}

.card {
    border: 2px solid #064c63;
    border-radius: 15px;
    padding: 70px 25px;
    cursor: pointer;
    transition: var(--transition);
    background: var(--second-bg-color);
    box-shadow: 0 0 2px var(--main-color);
}

.card .image {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    direction: rtl;
}

.card h1 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    direction: rtl;
}

.card p {
    color: var(--second-text-color);
    margin-bottom: 20px;
    line-height: 30px;
    direction: rtl;
}

.card h3{
    display: flex;
    border-bottom: 2px solid var(--second-text-color);
    width: 180px;
    padding: 5px 0;
}

.card h3:hover {
    border-bottom: 2px solid var(--main-color);
}

.card h3 .bx-right-arrow-alt {
    margin-top: 5px;
    color: var(--main-color);
    font-size: 22px;
    font-weight: bold;
    margin-left: 5px;
}

.card:hover {
    transform: translateY(-5px) scale(1.0);
    border: 2px solid var(--main-color);
}


/*
====================
portfolio section
====================
*/

.portfolio {
    background: var(--second-bg-color);
}

.portfolio-center {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
}

.portfolio-center span {
    color: var(--main-color);
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1.5rem;
    align-items: center;
}

.box {
    border: 2px solid #064c63;
    border-radius: 15px;
    padding: 15px 20px;
    cursor: pointer;
    transition: var(--transition);
    background: var(--second-bg-color);
    box-shadow: 0 0 2px var(--main-color);
}

.box img {
    width: 100%;
    height: auto;
    border-radius: 14px;
    margin-bottom: 10px;
}

.portfolio-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.portfolio-text h3 {
    color: var(--second-text-color);
    font-size: 16px;
}

.portfolio-text .bxl-github{
    width: 40px;
    height: 40px;
    background: #1027f4;
    border-radius: 50%;
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.box h1 {
    font-size: 20px;
}

.box:hover {
    transform: translateY(-5px) scale(1.0);
    border: 2px solid var(--main-color);
}

/*
====================
contact section
====================
*/


.contact-center {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
}

.contact-center span {
    color: var(--main-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    direction: rtl;
}

form input {
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border-radius: 12px;
    background: var(--second-bg-color);
    border: 2px solid #064c63;
    box-shadow: 0 0 2px var(--main-color);
    color: #fff;
    
}

form input::placeholder {
    color: #fff;
    font-size: 19px;
}

form textarea {
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border-radius: 12px;
    background: var(--second-bg-color);
    border: 2px solid #064c63;
    box-shadow: 0 0 2px var(--main-color);
    color: #fff;
    
}

form textarea::placeholder {
    color: #fff;
    font-size: 19px;
}

form .send-btn {
    position: relative;
    background: var(--main-color);
    color: #000;
    border: 1px solid var(--main-color);
    padding: 11px 26px;
    border-radius: 8px;
    cursor: pointer;
    transition: var(--transition);
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

form .send-btn:hover {
    box-shadow: 0 0 20px var(--main-color);
    background: transparent;
    color: var(--main-color);
}


/*
====================
footer section
====================
*/

.footer {
    background: var(--second-bg-color);
}

.footer-center h1 {
    text-align: center;
    font-size: 1.2rem;
}

.icon-scroll {
    position: fixed;
    bottom: 2.5rem;
    right: 1.8rem;
    background: var(--main-color);
    border-radius: 8px;
    color: #fff;
    font-size: 30px;
}